body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #2e21ac, #e54c9c);
    letter-spacing: 1.5px;
}

.loader{
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .loader img {
        animation: 2s linear infinite load;
    }

form div:last-of-type {
    margin-bottom: 4rem;
}

button[type="submit"] {
    background-image: linear-gradient(to bottom right, #2e21ac, #e54c9c);
    letter-spacing: 1.5px;
}

button[type="button"]{
    top: 35px;
}

.failureMessage{
    top: 20px;
    z-index: 9;
}

.formContainer {
    max-width: 450px;
    border-radius: 1rem;
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.3);
}

@keyframes load{
    to{
        transform: rotate(360deg);
    }
}